@using PagedList.Mvc;
@{
    ViewBag.Title = "资产列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small></small>
    </h1>
    <div class="pull-right header-r-toolbar">
    </div>
</section>
<section class="content"></section>
