@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

<!DOCTYPE html>

<html>
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small></small>
    </h1>
</section>
<body>
    <div>
    
    </div>
</body>
</html>
